.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* background */

html {
  background-color: hsl(0, 100%, 74%);
}

img#background {
  position: fixed; top: 0px; left: 20px;
  z-index: -1;
}
/* text */

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;

}

input {
  font-family: 'Poppins', sans-serif;

}

:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;

}

h1#h1{
  font-weight: 700;
  font-size: xx-large;
  position: fixed; left: 150px; top: 290px;
}

p#main-p {
  position: fixed; left: 150px; top: 420px;
  font-weight: 500;
}


p#main-p1 {
  position: fixed; left: 150px; top: 450px;
  font-weight: 500;
}

p#main-p2 {
  position: fixed; left: 150px; top: 480px;
  font-weight: 500;
}